@font-face {
  font-family: 'font-brave';
  src:  url('fonts/font-brave.eot?kbv0ed');
  src:  url('fonts/font-brave.eot?kbv0ed#iefix') format('embedded-opentype'),
    url('fonts/font-brave.ttf?kbv0ed') format('truetype'),
    url('fonts/font-brave.woff?kbv0ed') format('woff'),
    url('fonts/font-brave.svg?kbv0ed#font-brave') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-brave' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-measure:before {
  content: "\e900";
}
.icon-meter:before {
  content: "\e901";
}
.icon-a:before {
  content: "\e902";
}
.icon-alert-info:before {
  content: "\e903";
}
.icon-alert-success:before {
  content: "\e904";
}
.icon-alert-warning:before {
  content: "\e905";
}
.icon-apple:before {
  content: "\e906";
}
.icon-arrow-line-donw:before {
  content: "\e907";
}
.icon-arrow-line-left:before {
  content: "\e908";
}
.icon-arrow-line-right:before {
  content: "\e909";
}
.icon-arrow-line-up:before {
  content: "\e90a";
}
.icon-arrow-o-down:before {
  content: "\e90b";
}
.icon-arrow-o-du:before {
  content: "\e90c";
}
.icon-arrow-o-left:before {
  content: "\e90d";
}
.icon-arrow-o-right:before {
  content: "\e90e";
}
.icon-arrow-o-ud:before {
  content: "\e90f";
}
.icon-arrow-o-up:before {
  content: "\e910";
}
.icon-bell:before {
  content: "\e911";
}
.icon-blocks-web:before {
  content: "\e912";
}
.icon-blocks:before {
  content: "\e913";
}
.icon-book:before {
  content: "\e914";
}
.icon-bookmark:before {
  content: "\e915";
}
.icon-box-close:before {
  content: "\e916";
}
.icon-box-open:before {
  content: "\e917";
}
.icon-box:before {
  content: "\e918";
}
.icon-bubble-point:before {
  content: "\e919";
}
.icon-calendar-ok:before {
  content: "\e91a";
}
.icon-calendar:before {
  content: "\e91b";
}
.icon-cart-1:before {
  content: "\e91c";
}
.icon-cart-s:before {
  content: "\e91d";
}
.icon-cart:before {
  content: "\e91e";
}
.icon-cash-register:before {
  content: "\e91f";
}
.icon-category-r:before {
  content: "\e920";
}
.icon-category:before {
  content: "\e921";
}
.icon-check:before {
  content: "\e922";
}
.icon-checked-o:before {
  content: "\e923";
}
.icon-checked:before {
  content: "\e924";
}
.icon-chevron-down:before {
  content: "\e925";
}
.icon-chevron-left:before {
  content: "\e926";
}
.icon-chevron-right:before {
  content: "\e927";
}
.icon-chevron-ud:before {
  content: "\e928";
}
.icon-chevron-up:before {
  content: "\e929";
}
.icon-circle-arrow-line-donw:before {
  content: "\e92a";
}
.icon-circle-arrow-line-left:before {
  content: "\e92b";
}
.icon-circle-arrow-line-right:before {
  content: "\e92c";
}
.icon-circle-arrow-line-up:before {
  content: "\e92d";
}
.icon-circle-checkmark:before {
  content: "\e92e";
}
.icon-circle-close:before {
  content: "\e92f";
}
.icon-circle-doble:before {
  content: "\e930";
}
.icon-circle-minus:before {
  content: "\e931";
}
.icon-circle-plus:before {
  content: "\e932";
}
.icon-circle-point:before {
  content: "\e933";
}
.icon-circle:before {
  content: "\e934";
}
.icon-clip:before {
  content: "\e935";
}
.icon-clock:before {
  content: "\e936";
}
.icon-close:before {
  content: "\e937";
}
.icon-code:before {
  content: "\e938";
}
.icon-coin:before {
  content: "\e939";
}
.icon-column:before {
  content: "\e93a";
}
.icon-command:before {
  content: "\e93b";
}
.icon-comment:before {
  content: "\e93c";
}
.icon-compass:before {
  content: "\e93d";
}
.icon-conf:before {
  content: "\e93e";
}
.icon-contact:before {
  content: "\e93f";
}
.icon-content:before {
  content: "\e940";
}
.icon-copy:before {
  content: "\e941";
}
.icon-credential:before {
  content: "\e942";
}
.icon-credit-card:before {
  content: "\e943";
}
.icon-crm:before {
  content: "\e944";
}
.icon-dashboard:before {
  content: "\e945";
}
.icon-delivery-bike:before {
  content: "\e946";
}
.icon-doc-header:before {
  content: "\e947";
}
.icon-doc-o .path1:before {
  content: "\e948";
  color: rgb(255, 255, 255);
}
.icon-doc-o .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-doc:before {
  content: "\e94a";
}
.icon-donwload:before {
  content: "\e94b";
}
.icon-drag:before {
  content: "\e94c";
}
.icon-envelope-1:before {
  content: "\e94d";
}
.icon-envelope:before {
  content: "\e94e";
}
.icon-exit:before {
  content: "\e94f";
}
.icon-eye-close:before {
  content: "\e950";
}
.icon-eye-open:before {
  content: "\e951";
}
.icon-facebook:before {
  content: "\e952";
}
.icon-factory:before {
  content: "\e953";
}
.icon-fields:before {
  content: "\e954";
}
.icon-filter:before {
  content: "\e955";
}
.icon-fixed-assets:before {
  content: "\e956";
}
.icon-flag-o:before {
  content: "\e957";
}
.icon-flag:before {
  content: "\e958";
}
.icon-flash-off .path1:before {
  content: "\e959";
  color: rgb(0, 0, 0);
}
.icon-flash-off .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(4, 4, 4);
}
.icon-flash:before {
  content: "\e95b";
}
.icon-folder-open:before {
  content: "\e95c";
}
.icon-folder:before {
  content: "\e95d";
}
.icon-futbol:before {
  content: "\e95e";
}
.icon-google:before {
  content: "\e95f";
}
.icon-graduation:before {
  content: "\e960";
}
.icon-gril-compac:before {
  content: "\e961";
}
.icon-group:before {
  content: "\e962";
}
.icon-hashtag:before {
  content: "\e963";
}
.icon-inbox:before {
  content: "\e964";
}
.icon-info:before {
  content: "\e965";
}
.icon-instagram:before {
  content: "\e966";
}
.icon-laptop:before {
  content: "\e967";
}
.icon-link:before {
  content: "\e968";
}
.icon-linkedin:before {
  content: "\e969";
}
.icon-list:before {
  content: "\e96a";
}
.icon-lock:before {
  content: "\e96b";
}
.icon-logout:before {
  content: "\e96c";
}
.icon-loudspeaker:before {
  content: "\e96d";
}
.icon-magic-stick:before {
  content: "\e96e";
}
.icon-media:before {
  content: "\e96f";
}
.icon-megaphone:before {
  content: "\e970";
}
.icon-news:before {
  content: "\e971";
}
.icon-off:before {
  content: "\e972";
}
.icon-operations:before {
  content: "\e973";
}
.icon-p:before {
  content: "\e974";
}
.icon-paint-bucket:before {
  content: "\e975";
}
.icon-panel:before {
  content: "\e976";
}
.icon-pencil:before {
  content: "\e977";
}
.icon-phone-o:before {
  content: "\e978";
}
.icon-phone:before {
  content: "\e979";
}
.icon-photo-camera:before {
  content: "\e97a";
}
.icon-picture:before {
  content: "\e97b";
}
.icon-play-circle-o:before {
  content: "\e97c";
}
.icon-play-circle:before {
  content: "\e97d";
}
.icon-play-o:before {
  content: "\e97e";
}
.icon-play:before {
  content: "\e97f";
}
.icon-plus:before {
  content: "\e980";
}
.icon-point-gril:before {
  content: "\e981";
}
.icon-point-line:before {
  content: "\e982";
}
.icon-point:before {
  content: "\e983";
}
.icon-pointer-l:before {
  content: "\e984";
}
.icon-pointer-route:before {
  content: "\e985";
}
.icon-pointer:before {
  content: "\e986";
}
.icon-points-v:before {
  content: "\e987";
}
.icon-qr:before {
  content: "\e988";
}
.icon-refresh:before {
  content: "\e989";
}
.icon-reorder:before {
  content: "\e98a";
}
.icon-restaurant:before {
  content: "\e98b";
}
.icon-sales:before {
  content: "\e98c";
}
.icon-save:before {
  content: "\e98d";
}
.icon-schedule:before {
  content: "\e98e";
}
.icon-search:before {
  content: "\e98f";
}
.icon-settings:before {
  content: "\e990";
}
.icon-skip-external:before {
  content: "\e991";
}
.icon-skip:before {
  content: "\e992";
}
.icon-slider:before {
  content: "\e993";
}
.icon-sort-asc:before {
  content: "\e994";
}
.icon-sort-desc:before {
  content: "\e995";
}
.icon-sort:before {
  content: "\e996";
}
.icon-sport-o:before {
  content: "\e997";
}
.icon-sport:before {
  content: "\e998";
}
.icon-square-minus:before {
  content: "\e999";
}
.icon-square-plus:before {
  content: "\e99a";
}
.icon-stadistics-1:before {
  content: "\e99b";
}
.icon-stadistics:before {
  content: "\e99c";
}
.icon-system:before {
  content: "\e99d";
}
.icon-table-check:before {
  content: "\e99e";
}
.icon-tag-qr:before {
  content: "\e99f";
}
.icon-tag:before {
  content: "\e9a0";
}
.icon-tiktok:before {
  content: "\e9a1";
}
.icon-tool:before {
  content: "\e9a2";
}
.icon-trash:before {
  content: "\e9a3";
}
.icon-truck-delivery:before {
  content: "\e9a4";
}
.icon-truck-register:before {
  content: "\e9a5";
}
.icon-twitter:before {
  content: "\e9a6";
}
.icon-unchecked:before {
  content: "\e9a7";
}
.icon-upfile-o:before {
  content: "\e9a8";
}
.icon-upfile:before {
  content: "\e9a9";
}
.icon-upload:before {
  content: "\e9aa";
}
.icon-user-plus:before {
  content: "\e9ab";
}
.icon-user:before {
  content: "\e9ac";
}
.icon-users:before {
  content: "\e9ad";
}
.icon-video:before {
  content: "\e9ae";
}
.icon-wallet:before {
  content: "\e9af";
}
.icon-webpart:before {
  content: "\e9b0";
}
.icon-whatsapp:before {
  content: "\e9b1";
}
.icon-wifi:before {
  content: "\e9b2";
}
.icon-worksheets:before {
  content: "\e9b3";
}
.icon-youtube:before {
  content: "\e9b4";
}
.icon-spinner:before {
  content: "\e9b5";
}
.icon-spinner2:before {
  content: "\e9b6";
}
.icon-spinner3:before {
  content: "\e9b7";
}
